<div>
  <div style='float:left'>
    <%= link_to(root_path) do %>
      <h1>Interactive Theatre</h1>
    <% end %>
  </div>
  <div style='float:right'>
    <%= link_to('All Musicals', musicals_path) %> |
    <%= link_to('Search Songs', songs_path) %> |
    <%= link_to("Add a New Musical", new_musical_path) %> |
    <%= link_to("Add a New Song", new_song_path) %>
  </div>
</div>
<br clear="all" />
